@import 'tailwindcss';
@import 'tw-animate-css';

@font-face {
  font-family: 'TestDieGrotesk';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/TestDieGrotesk-BRegular.otf') format('opentype');
}

@font-face {
  font-family: 'TestDieGrotesk';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/TestDieGrotesk-BMedium.otf') format('opentype');
}

@font-face {
  font-family: 'TestDieGrotesk';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/TestDieGrotesk-BHeavy.otf') format('opentype');
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-family-sans: 'TestDieGrotesk', ui-sans-serif, system-ui, sans-serif;
  --font-die-regular: 'TestDieGrotesk', ui-sans-serif, system-ui, sans-serif;
  --font-die-medium: 'TestDieGrotesk', ui-sans-serif, system-ui, sans-serif;
  --font-die-heavy: 'TestDieGrotesk', ui-sans-serif, system-ui, sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(38.71% 0.02155 196.41);
  --card: oklch(1 0 0);
  --card-foreground: oklch(38.71% 0.02155 196.41);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(38.71% 0.02155 196.41);
  --primary: oklch(83.121% 0.1222 189.209);
  --primary-foreground: hsl(300 100 100);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(38.71% 0.02155 196.41);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(46.756% 0.02656 196.391);
  --accent: oklch(83.121% 0.1222 189.209);
  --accent-foreground: oklch(38.71% 0.02155 196.41);
  --destructive: oklch(63.957% 0.15017 26.049);
  --border: oklch(91.279% 0.00863 197.669);
  --input: oklch(81.985% 0.01858 197.074);
  --ring: oklch(58.358% 0.03419 196.362);
  --chart-1: oklch(63.957% 0.15017 26.049);
  --chart-2: oklch(78.486% 0.1978 143.945);
  --chart-3: oklch(59.039% 0.14345 251.448);
  --chart-4: oklch(69.69% 0.11697 48.278);
  --chart-5: oklch(62.987% 0.14718 46.413);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(38.71% 0.02155 196.41);
  --sidebar-primary: hsl(180 13% 25%);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(38.71% 0.02155 196.41);
  --sidebar-border: oklch(90.974% 0.00864 197.665);
  --sidebar-ring: oklch(96.488% 0.00323 198.975);
}

.dark {
  --background: hsl(180 13% 12%);
  --foreground: oklch(0.985 0 0);
  --card: hsl(180 13% 10%);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(38.71% 0.02155 196.41);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(83.121% 0.1222 189.209);
  --primary-foreground: oklch(38.71% 0.02155 196.41);
  --secondary: oklch(38.71% 0.02155 196.41);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(38.71% 0.02155 196.41);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(63.957% 0.15017 26.049);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(63.957% 0.15017 26.049);
  --chart-2: oklch(78.486% 0.1978 143.945);
  --chart-3: oklch(59.039% 0.14345 251.448);
  --chart-4: oklch(69.69% 0.11697 48.278);
  --chart-5: oklch(62.987% 0.14718 46.413);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(83.121% 0.1222 189.209);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(38.71% 0.02155 196.41);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

.wallet-adapter-button-trigger {
  height: auto !important;
  @apply !border !bg-background !shadow-xs hover:!bg-accent !text-accent-foreground hover:!text-accent-foreground dark:!bg-input/30 !border-input/10 dark:!border-input dark:hover:!bg-input/50;
  @apply !px-2 !py-[6px] !rounded-md !text-sm !font-semibold !shadow-sm !transition-all;
}
